In [1]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt

from sklearn.cross_validation import train_test_split
from sklearn.linear_model import LogisticRegression
from sklearn.metrics import classification_report

/home/hadoop/.local/lib/python2.7/site-packages/sklearn/cross_validation.py:44: DeprecationWarning: This module was deprecated in version 0.18 in favor of the model_selection module into which all the refactored classes and functions are moved. Also note that the interface of the new CV iterators are different from that of this module. This module will be removed in 0.20.
  "This module will be removed in 0.20.", DeprecationWarning)

In [4]:
user_info = pd.read_csv("../data/train/user_info_dummy.csv")
bank_data = pd.read_csv("../data/train/bank_dummy_data.csv")
bill_data = pd.read_csv("../data/train/bill_dummy_data.csv")

In [8]:
user_info.index = user_info.userid
user_info.drop(['userid'],axis=1,inplace=True)
user_info.head()

,account#0,account#1,account#2,account#3,account#4,edu#0,edu#1,edu#2,edu#3,edu#4,...,job#4,marriage#0,marriage#1,marriage#2,marriage#3,marriage#4,marriage#5,sex#0,sex#1,sex#2
userid,,,,,,,,,,,,,,,,,,,,,
1,0,0,0,1,0,0,0,0,1,0,...,0,0,1,0,0,0,0,0,1,0
2,0,1,0,0,0,0,0,0,1,0,...,0,0,0,1,0,0,0,0,1,0
3,0,0,0,0,1,0,0,0,0,1,...,1,0,1,0,0,0,0,0,1,0
4,0,0,1,0,0,0,0,0,0,1,...,1,0,0,0,1,0,0,0,1,0
5,0,1,0,0,0,0,0,1,0,0,...,0,0,0,0,1,0,0,0,1,0

In [ ]:
bank_data.index = bank_data.userid
bank_data.drop(['userid'],axis=1,inplace=True)
bank_data.head()

In [9]:
bill_data.index = bill_data.userid
bill_data.drop(['userid'],axis=1,inplace=True)
bill_data.head()

,avail_amount#0,avail_amount#1,avail_amount#2,avail_amount#3,avail_amount#4,avail_amount#5,avail_amount#6,avail_amount#7,avail_amount#8,avail_amount#9,...,prepare_amount#10,prepare_amount#11,prepare_amount#12,prepare_amount#13,prepare_amount#14,prepare_amount#15,prepare_amount#16,prepare_amount#17,prepare_amount#18,prepare_amount#19
userid,,,,,,,,,,,,,,,,,,,,,
2,1,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
3,1,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
4,0,0,0,0,1,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
5,1,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,1,0
6,0,0,0,0,0,0,0,0,0,1,...,0,0,1,0,0,0,0,0,0,0

In [10]:
datas = user_info.join([bank_data,bill_data])
datas.head()

,account#0,account#1,account#2,account#3,account#4,edu#0,edu#1,edu#2,edu#3,edu#4,...,prepare_amount#10,prepare_amount#11,prepare_amount#12,prepare_amount#13,prepare_amount#14,prepare_amount#15,prepare_amount#16,prepare_amount#17,prepare_amount#18,prepare_amount#19
userid,,,,,,,,,,,,,,,,,,,,,
1,0,0,0,1,0,0,0,0,1,0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,0,1,0,0,0,0,0,0,1,0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
3,0,0,0,0,1,0,0,0,0,1,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
4,0,0,1,0,0,0,0,0,0,1,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
5,0,1,0,0,0,0,0,1,0,0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0

In [11]:
datas.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 69495 entries, 1 to 69495
Columns: 185 entries, account#0 to prepare_amount#19
dtypes: float64(161), int64(24)
memory usage: 98.6 MB

In [13]:
datas = datas.fillna(0)
datas.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 69495 entries, 1 to 69495
Columns: 185 entries, account#0 to prepare_amount#19
dtypes: float64(161), int64(24)
memory usage: 98.6 MB

In [14]:
datas.to_csv('../data/train_data.csv')